
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>

<body>


        <img src="../../assets/images/diverland_logo.png" class="img-fluid" alt="header_logo">

        

        <div class="caja1">
            <p>Con las mejores instalaciones para disfrutar de tus comidas favoritas en familia , ¡DiverLand cuenta con un meno muy amplio para todos ustedes!. </p>
            <img src="../../assets/images/restaurante.png" class="img-fluid1" alt="header_logo">
         
        </div>
        <div class="caja2">
            <img src="../../assets/images/diversion.png" class="img-fluid1" alt="header_logo">
        </div>
        <div class="caja3">
            <img src="../../assets/images/transporte.png" class="img-fluid2" alt="header_logo">
        </div>
        

        

   

</body>
</html>
