
<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>

<body>


        <img src="../../assets/images/diverland_logo.png" class="img-fluid" alt="header_logo">

        <div class="card" style="width: 22rem;">
            <img src="../../assets/images/restaurante.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">DiverLand tiene una cadena de restaurantes en el parque con una carta muy amplia para toda la familia, desde almuerzos ejecutivos hasta comidas rápidas, ¡Ven y pruébalo ya!.</p>
            </div>
        </div>

        <div class="card" style="width: 21rem;">
            <img src="../../assets/images/diversion.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Contamos con los mejores espacios para divertirse en familia, atracciones únicas y extremas en nuestra región, líderes en la unión, diversión y familia.</p>
            </div>
        </div>

        <div class="card" style="width: 21rem;">
            <img src="../../assets/images/transporte.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Existe una manera muy práctica y divertida de atravesar el parque, con nuestro carrito de transporte podrás moverte por todos los rincones del parque y poder visitar todas nuestras atracciones.</p>
            </div>
        </div>

        <div class="clearfix"></div>


</body>
</html>
