.img-fluid{
    display: block;
    width: 100%;
    height: auto;
}

div{

    height: 250px;
    width: 250px;
    background-color: #E14D2A;
    margin-top: 100px;
    border-radius: 10px;
}

.caja1{
    
}

.img-fluid1{
   
    height: 75px;
    width: 75px;
    display: block;
    

}