<app-header-cajero></app-header-cajero>
<h1>Venta tiquete de servicios</h1>
<div class="container">
    <form action="" #VentaTiqueteForm="ngForm" (ngSubmit)="getAfiliado(idAfiliado.value)" >
        <div class="row align-items-start">
            <div class="col">
                <div class="box" id="datosCliente">
                    <h2>Datos del cliente</h2>
                    <div class="input-group mb-3">
                        <span class="input-group-text">ID de afiliado</span>
                        <input #idAfiliado 
                        name="idAfiliado"
                        type="number" 
                        class="form-control" 
                        placeholder="ID de afiliado"
                        aria-label="ID de afiliado"
                        aria-describedby="button-addon2"
                        [(ngModel)]="afiliadoService.selectedAfiliado.idAfiliado">
                    <button class="btn btn-outline-light" type="button" id="button-addon2" (click)="getAfiliado(idAfiliado.value)" >Validar</button>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">No. de documento</span>
                        <input #cedula type="text" class="form-control" placeholder="No. de documento"
                            aria-label="No. de documento" name="cedula"
                            [(ngModel)]="afiliadoService.selectedAfiliado.cedula">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Apellidos</span>
                        <input #apellidos type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos" name="apellidos" [(ngModel)]="afiliadoService.selectedAfiliado.apellidos">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombres</span>
                        <input #nombres type="text" class="form-control" placeholder="Nombres" aria-label="Nombres" name="nombres" [(ngModel)]="afiliadoService.selectedAfiliado.nombres">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Categoría</span>
                        <input #categoria type="text" disabled readonly class="form-control" placeholder="Categoría"
                            aria-label="Categoría" name="categoria" [(ngModel)]="afiliadoService.selectedAfiliado.categoria">
                    </div>
                </div>
            </div>
            <div class="col">
                <form action="" #VentaForm="ngForm">
                    <div class="box" id="serviciosExtras">
                        <h2>Servicios extras</h2>
    
                        <div class="form-check">
                            <input #almuerzo class="form-check-input" type="text" value="0" id="almuerzo" name="almuerzo"
                            [(ngModel)]="ventaService.selectedVenta.almuerzo">
                            <label class="form-check-label" for="">
                                Almuerzo ejecutivo
                            </label>
                        </div>
                        <div class="form-check">
                            <input #snacks class="form-check-input" type="text" value="0" id="snack"
                            name="snack"
                            [(ngModel)]="ventaService.selectedVenta.snack">
                            <label class="form-check-label" for="">
                                Snacks
                            </label>
                        </div>
                        <div class="form-check">
                            <input #descanso class="form-check-input" type="text" value="0" id="flexCheckDefault"
                            name="descanso"
                            [(ngModel)]="ventaService.selectedVenta.descanso">
                            <label class="form-check-label" for="">
                                Sala de descanso
                            </label>
                        </div>
                    </div>
                    <div class="box" id="metodosPago">
                        <h2>Métodos de pago</h2>
                        
                        <select #metodo name="metodo" class="form-select" aria-label="Metodos de pago" [(ngModel)]="ventaService.selectedVenta.metodo">
                            <option selected>Seleccionar</option>
                            <option name="efectivo" value="Efectivo">Efectivo</option>
                            <option name="tarjeta" value="Tarjeta">Tarjeta</option>
                        </select>
                    </div>
                
                </form>
                </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" type="button" (click)="venderTicket(VentaForm)">Vender tiquete</button>
        </div>
    </form>
</div>