<app-header></app-header>
<div class="container">
    <h1>About us</h1>
    <div class="box">
        <h2>Misión</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi minus numquam animi quas! Asperiores maxime, iusto minima nihil, quidem non labore enim nulla, neque ea dicta voluptates voluptatibus explicabo ipsa.</p>
    </div>
    <div class="box">
        <h2>Visión</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi minus numquam animi quas! Asperiores maxime, iusto minima nihil, quidem non labore enim nulla, neque ea dicta voluptates voluptatibus explicabo ipsa.</p>
    </div>
    <div class="box">
        <h2>Visión</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi minus numquam animi quas! Asperiores maxime, iusto minima nihil, quidem non labore enim nulla, neque ea dicta voluptates voluptatibus explicabo ipsa.</p>
    </div>

    <button class="btn btn-success" routerLink="/cajero">Prueba Pestaña Cajero</button>
    <button class="btn btn-success" routerLink="/administrador">Prueba Pestaña Administrador</button>
</div>